<h1>Lists</h1>

<% @lists.each do |list| %>
  <li>
    <%= list.name %>
    <%= link_to 'Ver essa lista', list_path(list) %>
  </li>
<% end %>

<p></p>

<%= link_to 'Create a new list', new_list_path %>
